.movies-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 1066px;
    gap: 50px;
    list-style: none;
}

.movies-item {
    border: solid 4px black;
    width: 500px;
    text-align: center;
}

.movies-item:last-child {
    margin-left: auto;
    margin-right: auto;
}

.movies-title {
    font-size: 25px;
}

.movies-genre, .movies-director, .movies-year {
    font-family: sans-serif;
    font-weight: 600;
}